@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap");

.backgroud {
  height: 100vh;
  background-color: var(--gray-4);
  font-family: "Nunito", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 49px;

  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: content--nu__kenzie 1.2s ease-in-out;
}

@keyframes content--nu__kenzie {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  80% {
    opacity: 0.3;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

.content-title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20.9rem;

  color: var(--gray-1);
}

.content-title p {
  font-size: var(--font-title1);
  font-weight: 800;
}

.content-title span {
  font-size: var(--headline);
  font-weight: 400;
}

.content-btn {
  background-color: var(--color-primary);
  color: var(--gray-1);

  font-size: var(--headline);
  font-weight: 500;

  padding: 14px;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 15.06rem;

  cursor: pointer;
  transition: 0.3s;
}

.content-btn:hover {
  filter: opacity(0.7);
  transition: 0.3s;
}

.cardIlust {
  display: none;
  animation: cardLogin 3s ease-in-out infinite;
}

@keyframes cardLogin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 1040px) {
  .cardIlust {
    display: flex;
  }

  .content-title {
    width: 22.9rem;
  }
}
